*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

ul{
    list-style-type: none;
}

.dashboard-container{
    height: 100vh;
    position: relative;
}

.hide{
    display: none;
}

.main-container{
    position: absolute;
}

/* Account overview container styles */

.account-overview-container{
    width: 100%;
    position: relative;
}

.badge-container{
    position: relative;
    display: flex;
}

.badge{
    width: 20%;
    border-radius: 50%;
    margin: 1em;
}

.badge-text-container{
    margin-top: 2em;
}

.daily-news-container{
    position: relative;
}

.expense-list, .recent-transactions{
    padding: 2em;
    margin: 1em;
    border-radius: 35px;
    background: rgb(248, 248, 248);
}

.expense-list li:first-child h2{
    font-size: 2.3em;
}

.expense-list li{
    margin-bottom: 1em;
    margin-right: 1em;
}

.expense-list li p{
    color: grey;
    font-size: .9em;
}

.expense-list div{
    display: flex;
    justify-content: space-between;

}

.expense-btn{
    padding: 1em 2em;
    margin: 2em 0;
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    color: white;
    background: blue;
    font-weight: bolder;
    font-size: .9em;
}

.recent-transactions{
    margin-top: 3em;
}

.recent-transactions li{
    margin-bottom: 1.5em;
}

.recent-transactions hr{
    margin-top: 1em;
    border:rgb(209, 209, 209) solid 1px;
}

.date{
    color: grey;
    font-size: .8em;
}

.transfer-action{
    font-size: .9em;
    font-weight: bolder;
}

/* Chart section container styles */

.chart-section-container{
    position: relative;
    padding: 2em;
    margin: 1em;
}

.retirement-title{
    font-size: .8em;
    color: blue;
}

.goal-stats{
    margin-top: 2em;
}

.goal-stats h2{
    font-size: 1.4em;
}

.goal-stats p{
    color: grey;
    font-size: .7em;
}

.goal-stats li{
    margin-bottom: 1em;
}

.goal-stats hr{
    margin-top: .5em;
    border: blue solid 1px;
}

.goal-stats div{
    display: flex;
    justify-content: space-between;
}

.contributions-container{
    margin-top: 2em;
}

.contributions-container h4{
    font-size: .9em;
}

.contributions-container ul{
    margin-top: 1em;
    margin-bottom: 2em;
    display: flex;
    justify-content: space-evenly;
}

.contributions-container ul li p{
    font-size: .7em;
    color: grey;
}

.bar-chart-container{
    width: 100% !important;
    height: 200px !important;
}

.bar-chart{
    width: 100%;
}

.comparison-container{
    margin-top: 2em;
}

.comparison-container p{
    font-size: .7em;
    color: grey;
    font-weight: bold;
}

.details-list{
    flex-direction: column;
}

.details-list li strong{
    color: black;
    margin-right: 2em;
}

.details-list li p{
    color: black !important;
}

.details-list hr{
    border:rgb(209, 209, 209) solid 1px;
    margin: .8em 0;
}

.progress-bar-container{
    position: relative;
}

.pie-chart-1, .pie-chart-2, .pie-chart-3{
    width: 75%;
    position: absolute;
    transform: translateX(-50%);
}

.pie-chart-1{
    left: 25%;
}

.pie-chart-2{
    left: 50%;
}

.pie-chart-3{
    left: 75%;
}

.deck-container{
    position: relative;
    margin: 1em;
    margin-bottom: 3em;
    padding: 2em;
}

.deck-container h4{
    margin-top: 5em;
    font-size: .9em;
}

.slider-list{
    margin-top: 2em;
}

.slider-list strong{
    font-size: .8em;
}

.emp-contri-list, .interest-rate{
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: .8em;
    font-weight: bolder;
    margin-bottom: 1em;
}

.emp-contri-list{
    margin-top: 2em;
}

.navbar-container{
    width: 100%;
    height: 60px;
    position: fixed;
    background: white;
    bottom: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 2;
}

.nav-links{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.nav-links li{
    margin: 1em;
    margin-bottom: 1em;
}

.nav-links li:hover{
    background: blue;
    border-radius: 8px;
    box-shadow: rgb(156, 156, 156) 2px 5px 10px;
    color: whitesmoke;
}

.nav-links li:hover i {
    color: inherit;
}


.logo{
    display: none;
}

i{
    font-size: large  !important;
    cursor: pointer;
    padding: .4em .5em;
    border-radius: 8px;
    color: grey;
}

.bell{
    color:rgb(209, 209, 209);
    position: absolute;
    right: 0;
    margin: 1em;
    cursor: pointer;
}
