*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

ul{
    list-style-type: none;
}

.dashboard-container{
    height: 100vh;
    position: relative;
}

.hide{
    display: none;
}

.main-container{
    position: absolute;
}

/* Account overview container styles */

.account-overview-container{
    width: 100%;
    position: relative;
}

.badge-container{
    position: relative;
    display: flex;
}

.badge{
    width: 17%;
    border-radius: 50%;
    margin: 1em;
}

.badge-text-container{
    margin-top: 2em;
}

.daily-news-container{
    position: relative;
}

.expense-list, .recent-transactions{
    padding: 2em;
    margin: 1em;
    border-radius: 35px;
    background: rgb(248, 248, 248);
}

.expense-list li:first-child h2{
    font-size: 2.3em;
}

.expense-list li{
    margin-bottom: 1em;
    margin-right: 1em;
}

.expense-list li p{
    color: grey;
    font-size: .9em;
}

.expense-list div{
    display: flex;
    justify-content: space-between;

}

.expense-btn{
    padding: 1em 2em;
    margin: 2em 0;
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    color: white;
    background: blue;
    font-weight: bolder;
    font-size: .9em;
}

.recent-transactions{
    margin-top: 3em;
}

.recent-transactions li{
    margin-bottom: 1.5em;
}

.recent-transactions hr{
    margin-top: 1em;
    border:rgb(209, 209, 209) solid 1px;
}

.date{
    color: grey;
    font-size: .8em;
}

.transfer-action{
    font-size: .9em;
    font-weight: bolder;
}

/* Chart section container styles */

.chart-section-container{
    position: relative;
    padding: 2em;
    margin: 1em;
}

.retirement-title{
    font-size: .8em;
    color: blue;
}

.goal-stats{
    margin-top: 2em;
}

.goal-stats h2{
    font-size: 1.4em;
}

.goal-stats p{
    color: grey;
    font-size: .7em;
}

.goal-stats li{
    margin-bottom: 1em;
}

.goal-stats hr{
    margin-top: .5em;
    border: blue solid 1px;
}

.goal-stats div{
    display: flex;
    justify-content: space-between;
}

.contributions-container{
    margin-top: 2em;
}

.contributions-container h4{
    font-size: .9em;
}

.contributions-container ul{
    margin-top: 1em;
    margin-bottom: 2em;
    display: flex;
    justify-content: space-evenly;
}

.contributions-container ul li p{
    font-size: .7em;
    color: grey;
}

.bar-chart-container{
    width: 100% !important;
}

.bar-chart{
    width: 100%;
}

.comparison-container{
    margin-top: 2em;
}

.comparison-container p{
    font-size: .7em;
    color: grey;
    font-weight: bold;
}

.details-list{
    flex-direction: column;
}

.details-list li strong{
    color: black;
    margin-right: 2em;
}

.details-list li p{
    color: black !important;
}

.details-list hr{
    border:rgb(209, 209, 209) solid 1px;
    margin: .8em 0;
}

.progress-bar-container{
    position: relative;
}

.pie-chart-1, .pie-chart-2, .pie-chart-3{
    width: 75%;
    position: absolute;
    transform: translateX(-50%);
}

.pie-chart-1{
    left: 25%;
}

.pie-chart-2{
    left: 50%;
}

.pie-chart-3{
    left: 75%;
}

.deck-container hr {
    margin: 2em 0;
    border: rgb(209, 209, 209) solid 1px;
}

.deck-container{
    position: relative;
    margin: 1em;
    margin-bottom: 3em;
    padding: 2em;
}

.deck-container h4{
    margin-top: 5em;
    font-size: .9em;
}

.slider-list{
    margin-top: 2em;
}

.slider-list strong{
    font-size: .8em;
}

.emp-contri-list, .interest-rate{
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: .8em;
    font-weight: bolder;
    margin-bottom: 1em;
}

.emp-contri-list{
    margin-top: 2em;
}

input{
    margin-top: 1em;
}

.slider-list:before{
    content: '12%';
    height: 20px;
    width: 20px;
    background: white;
    position: absolute;
    padding: .5em;
    font-size: .7em;
    font-weight: bolder;
    left: 88%;
    top: 37%;
    transform: translateX(-50%);
}

.slider-list:after{
    content: '65';
    height: 20px;
    width: 20px;
    background: white;
    position: absolute;
    padding: .5em;
    font-size: .7em;
    font-weight: bolder;
    left: 88%;
    top: 49%;
    transform: translateX(-50%);
}

a{
    text-decoration: none;
}

button{
    border: none;
}

.update-btn{
    background: blue;
    padding: 1em 2em;
    width: 100%;
    margin: 1em 0;
    position: relative;
    color: white;
    font-weight: bolder;
    border-radius: 20px;
}

.deck-container a{
    color: blue;
    font-size: .8em;    
    position: absolute;
    left: 50%;
    font-weight: bolder;
    display: none;
    transform: translateX(-50%);
}

.navbar-container{
    width: 100%;
    height: 60px;
    position: fixed;
    background: white;
    bottom: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    z-index: 2;
}

.nav-links{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.nav-links li{
    margin: 1em;
    margin-bottom: 1em;
}

.nav-links li:hover{
    background: blue;
    border-radius: 8px;
    box-shadow: rgb(156, 156, 156) 2px 5px 10px;
    color: whitesmoke;
}

.nav-links li:hover i {
    color: inherit;
}


.logo{
    display: none;
}

i{
    font-size: large  !important;
    cursor: pointer;
    padding: .4em .5em;
    border-radius: 8px;
    color: grey;
}

.bell{
    color:rgb(209, 209, 209);
    position: absolute;
    right: 0;
    margin: 1em;
    cursor: pointer;
}


@media only screen and (min-width: 1800px){
    .navbar-container{
        width: 4%;
        height: 100%;
        position: absolute;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .nav-links{
        display: flex;
        flex-direction: column;
    }
}



/* Media queries */

@media only screen and (min-width: 450px){
    .progress-bar-container{
        width: 80%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media only screen and (min-width: 530px){
    .progress-bar-container{
        width: 70%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media only screen and (min-width: 600px){
    .progress-bar-container{
        width: 60%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media only screen and (min-width: 700px){
    .main-container{
        width: 100%;
    }
    .progress-bar-container{
        width: 50%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .pie-chart-1{
        left: 10%;
    }
    .pie-chart-3{
        left: 90%;
    }
}

@media only screen and (min-width: 900px){
    .progress-bar-container{
        width: 40%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media only screen and (min-width: 1024px) {
    .navbar-container {
        width: 70px;
        height: 100%;
        position: absolute;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
    }

    .bell {
        bottom: 0;
        left: 0;
        z-index: 10;
    }

    .main-container {
        position: absolute;
        left: 25%;
        width: 100%;
        transform: translateX(-50%);
    }

    /* Account overview container */
    .account-overview-container {
        width: 25%;
        left: 45%;
        transform: translateX(-50%);
    }

    .badge {
        width: 20%;
    }

    .expense-list div{
        flex-direction: column;
        margin-top: 3em;
    }

    /* Chart section container */
    .chart-section-container {
        position: absolute;
        width: 35%;
        left: 55%;
        top: 0;
    }

    .bar-chart-container {
        height: 300px;
    }

    .details-list {
        position: absolute;
        top: 95%;
        width: 30%;
    }
    .progress-bar-container{
        width: 100%;
    }

    .pie-chart-1,
    .pie-chart-2,
    .pie-chart-3 {
        width: 60%;
    }

    .pie-chart-1{
        left: 50%;
    }

    .pie-chart-2 {
        left: 70%;
    }

    .pie-chart-3 {
        left: 90%;
    }

    .comparison-container {
        margin-top: 1em;
    }

    .comparison-container h4 {
        font-size: 1.1em;
        margin-bottom: .8em;
    }

    /* Deck container */
    .deck-container {
        position: absolute;
        left: 100%;
        width: 15%;
        top: 5%;
        padding: 2em;
        background: rgb(248, 248, 248);
        margin: 1em;
        border-radius: 10px;
    }

    .deck-container h4 {
        margin-top: 0;
        font-size: 1em;
    }

    .slider-list li{
        margin-bottom: 1em;
    }

    .deck-container a{
        display: block;
        font-size: .7em;
    }

    .slider-list:before, .slider-list:after{
        left: 85%;
        font-size: .8em;
        padding: .8em;
    }

    .slider-list:before{
        top: 24%;
    }

    .slider-list:after{
        top: 40%;
    }
}

@media only screen and (min-width: 1300px){
    .progress-bar-container{
        width: 90%;
        left: 60%;
    }
}

@media only screen and (min-width: 1400px){
    .progress-bar-container{
        width: 80%;
        left: 60%;
    }
}

@media only screen and (min-width: 1600px){
    .progress-bar-container{
        width: 70%;
        left: 60%;
    }
    .comparison-container{
        margin-top: 4em;
    }
}

@media only screen and (min-width: 1700px){
    .progress-bar-container{
        width: 65%;
        left: 55%;
    }
    .pie-chart-2{
        left: 74%
    }
    .pie-chart-3{
        left: 95%;
    }
    .comparison-container{
        margin-top: 5em;
    }
}